header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 20%;
}


.products img{
width: 70%;
cursor: pointer;
margin-top: 3px;
border: .5px solid black;
border-radius: 10px;
margin-left: 10px;

}
.products img:hover{
    border:  solid rgb(1, 54, 1);
}
.products img.active{
    border: solid rgb(1, 54, 1);  
}
.box{
   
    width: 50%;
    top: 20%;
    
}
button:hover{
    scale: 1.1;
}
.move{
    background: linear-gradient(#db7676 ,orange);
    height: 70vh;
    position: relative;
}
.information{
 width: 90%;
 height: 90%;
 position: absolute;
 top:50%;
 left:-15%;
 transform: translateY(-50%);
 

}
#circle{
    width: 60%;
    height: 90%;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 50%; 
    transform: rotate(0deg);
    background-color: aliceblue;
    transition: 1s;
}
.feature{
position: absolute;
}

.one1{
    top:14%;
    left:35%;
    transform: rotate(270deg);
    cursor: pointer;
    background-color:orange; 
    border-radius: 20px;
    box-shadow: 0 0px 30px red;
    width: 100px;
    height: 30px;
    text-align: center;
}
.two{
    right:5%;
    top:45%;
    cursor: pointer; 
    background-color:orange;
    border-radius: 20px;
    box-shadow: 0 0px 30px red;
    width: 100px;
    height: 30px;
    text-align: center;

}

.three{
    top:45%;
    left: 5%;
    transform: rotate(-180deg);
    cursor: pointer;
    background-color: orange; 
    border-radius: 20px;
    box-shadow: 0 0px 30px red; 
    width: 100px;
    height: 30px;
    text-align: center;

}
.four{
    bottom:14%;
    left: 35%;
    transform: rotate(-270deg);
    cursor: pointer;
    background-color: orange; 
    border-radius: 20px;
    box-shadow: 0 0px 30px red;
    width: 100px;
    height: 30px;
    text-align: center;

}   

#press{
    position: absolute;
    top:55%;
    right: 15%;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    color: black;
    transform: rotate(180deg);   
}
#presss{
    position: absolute;
    top:30%;
    right: 15%;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.click2{

    position: absolute;
    top:45%;
    right: 14%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    color: black;

}
.mobile{
    width: 20%;
    position: absolute;
    top:45%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 1;
}

.text2 div{
    background-color:red;
    color: aliceblue;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 5%;
    border-radius: 20px;
    text-align: right;
    cursor: pointer;
    padding-right: 5px;
  
    
}
.namesection{
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 5%;

}
.sectionheart div{
background-color:rgb(201, 197, 197);
padding-left: 5%;
margin-top: 10%;
font-size: 1.2em;
font-weight: 300;
border-radius: 20px;
cursor: pointer;

}
footer{
    margin-top: 50px;
    background-color: black;
    width: 100%;
    color: aliceblue;
    text-align: center;
    height: 200px;
    position: relative;
}
.end{
    position: absolute;
    top: 40%;
    left: 10%;
  
    
   
    
}
.item:hover{
    scale: 1;
    border: none;  
}
.card img{
    width: 60%;
}




@keyframes waving{

    0%{
        transform: translatex(-50%) skew(0deg ,-10deg); 
    }
    100%{
       
        transform: translatex(-30%) skew(10deg ,0deg);
    }
    }
  
    
   /* <div class="row">
    <div class="col-12  move">
      <div class="information">
        <div id="circle">
          <div class="feature  one1">
            <p><a>Processor</a></p>
          </div>
          <div class="feature  two">
            <p><a>
              Camera</a></p>
          </div>
          <div class="feature  three">
            <p><a>Display</a></p>
          </div>
          <div class="feature  four">
            <p><a>
              Battery life</a></p>
            </div>

          </div>
          </div><div id="press"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
          <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        </div>
        <div class="click2">Click</div>
        <div id="presss"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
          <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        </div>*/
        